
<nav>
    <div class="site-title">
        <a href="/"><h1>Node and Express</h1></a>
        <p>A South County Creative Site</p>
        
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>