<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOde Test Document</title>
</head>
<body>

    <h1>About Section</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <img src="../img/SCCreative-Logo.png" alt="SCC Logo2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse quisquam repellat. Doloribus nihil eius ducimus hic veritatis? Et, molestiae delectus tempora sapiente dolorum quae amet enim illo, nam aut ea suscipit, deleniti mollitia porro doloremque ratione? Rerum, architecto possimus praesentium vel quibusdam tenetur est quos ea modi fugiat ad.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti fuga laboriosam assumenda mollitia minus eligendi quam tempore, ut dolorum sit.</p>
    <p class="hello">Heres some more shit</p>
    
</body>
</html>