<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About this section</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ullam hic, eligendi quae quo adipisci voluptatibus repudiandae impedit sint non dolor culpa, cupiditate harum aliquid debitis reprehenderit explicabo quibusdam fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ullam hic, eligendi quae quo adipisci voluptatibus repudiandae impedit sint non dolor culpa, cupiditate harum aliquid debitis reprehenderit explicabo quibusdam fugiat.</p>
    </div>
    
</body>

<%- include ('./partials/footer.ejs') %> 

</html>